*{ list-style: none;
	 padding: 0;
 	margin: 0;
	font-family: "微软雅黑";
	font-size: 1.8rem;
	}
ul{
	padding: 0;
	margin: 0;
}  
p{
	margin: 0;
}
a{
	text-decoration: none;
}
a:link , a:visited , a:hover , a:active {
	outline: none;
	}	
.oneLine{
	 display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.twoLine{
	 display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.threeLine{
	 display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearfloat{zoom:1}
.float_left{
	float: left;
}
.float_right{
	float: right;
}
.maxCentr{
	width: 1200px;
	margin: 0 auto;
	}
.threeLine{
	display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -moz-box;
    -moz-line-clamp: 3;
    -moz-box-orient: vertical;
    overflow: hidden;
}
.towLine{
	display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -moz-box;
    -moz-line-clamp: 2;
    -moz-box-orient: vertical;
    overflow: hidden;
}
.oneLine{
	display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
        display: -moz-box;
        -moz-line-clamp: 2;
        -moz-box-orient: vertical;
    overflow: hidden;
}

.topBg{
	background: #fdb3d3;
	width: 100%;
	height: 80px;
}
.topBox{
	padding-left: 5%;
}

.topLanguage{
	padding-left: 5%;
	line-height: 80px;
	background: url(../img/ENGLISH.png)  center left no-repeat;
	color: #fff;
	font-size: 1.8rem;
}

.topNav{
	width: 60%;
	
}
.topNav li{
	padding-top: 3%;
	width: 25%;
	margin: 0 auto;
}
.topNav li p{
	text-align: center;
	color: #fff;
	font-size: 1.8rem;
	line-height: 200%;
}
.navIcon1{
	padding-left: 6%;
	background: url(../img/nav-2.png) center left no-repeat;
}

.navIcon2{
	padding-left: 1%;
	background: url(../img/nav-1.png)center left no-repeat;
}
.logoBox{
	position: relative;
	
}
.logoBox .logo{
	padding: 1%;
	
}
.search{
	border:1px solid #ccc;
	border-radius: 8px;
	width: 25%;
	margin-top: 5%;
	position: absolute;
	right: 5%;
	top: 0;
}
.search  input{
	padding-left: 5%;
	width: 75%;
	border:0;
	color: #ccc;
}
.search  input:hover{
	outline: none;
}
.search  button{
	width: 20%;
	background: none;
	border: 0;line-height: 200%;
}
.classifyBox{
	
}
.classify{
	height: 100%;
	width: 18%;
}
.classify ul li{
	width: 100%;
	background: #4982a3 url(../img/nav-ico1.png) no-repeat center right;
	color: #fff;
	padding-left: 15%;
	font-size:2rem;
	border-bottom: 1px solid #fff;
	line-height: 110px;
}
.classify ul li:hover{
	width: 100%;
	background: #d2e4ee url(../img/nav-ico2.png) no-repeat center right;
	color: #4982a3;
	padding-left: 15%;
	font-size:2rem;
	border-bottom: 1px solid #fff;
}
.classifyProBox{
	width: 30%;
}
.classifyPro{
	width: 40%;
	position: absolute;
	left: 0;
	top:0;
 	background: rgba(109,170,205,0.9);
 	z-index: 99;
	height: 554px;
}
.classifyPro ol{ 
	margin-top: 0;
}
.classifyPro li{
	font-size: 2rem;
	text-align: center;
	color: #FFF;
	border-bottom:3px solid rgba(0,0,0,0) ;
	line-height: 300%;
	margin: 20% 10%;
}
.classifyPro li:hover{
	text-align: center;
	color: #444444;
	border-bottom:3px solid rgba(68,68,68,1) ;
}
.bannerBox{
	width: 82%;
	margin-bottom: 10%;
	}
.banner_show{
	position: relative;
}
.bannerShow{
	position: relative;
}
.bannerShow ul li img{
	display: block;
}
.second{
	position: relative;
	z-index: 0;
}
.secondBg{
	height: 450px;
 	 box-shadow: 0px 9px 30.72px 1.28px rgba(102, 102, 102, 0.45);
}
.secondBg1{
	height: 100%;
	width: 40%;
	background: #fdb3d3;
}
.secondBg2{
	height: 100%;
	width: 60%;
	background: #acddef;
}
.countDown{
	width: 35%;
	position: absolute;
	left: 0;
	top: 0;
	margin-top: 2%;
	margin-left: 3%;
}
.countDown p{
	width: 40%;
}
.count{
	width: 55%;
	margin-left: 5%;
}
.countDown p{
	font-size: 4rem;
	color: #FFF;
	  line-height: 100%;
	  display: block;
}
.countDown p span{
	font-size: 2rem;
}
.count .time span{
	 font-size: 2.5rem;
	 background:url(../img/timebg.png) no-repeat center;
	 display: block;
	 float: left;
	 line-height: 200%; 
	 margin: 0 2%;
	 border-radius: 5px;
	 overflow: hidden;
	 letter-spacing: 3px;
	 padding: 0 1%;
	 padding-left: 2%;
}
.count .text{
	color: #fff;
	font-size: 1.5rem;
	 margin-top: 2%;
	 margin-left: 3%;
}
.iocBg{
	background: #82b7d7;
	width: 100%;
	margin-top: 10%;
	padding-bottom: 100px;
	padding-top: 55px;
}
.iocBg .am-u-sm-3{
	width:20%
}
.icoPro{
	margin: 0 auto;
	margin-top:6% ;
}
.icoPro:hover{
  text-shadow: 0px 9px 12.48px rgba(78, 82, 96, 0.25);
}
.icoPro:hover  p{
	color: #f5538d;
}
.icoPro:hover  img{
  /*box-shadow: 0px 9px 12.48px rgba(78, 82, 96, 0.25);*/
}
.icoPro img{
	display: block;
	margin-top: 8%;
	width: 20%;
	float: left;
	margin-left: 30%;
}
.icoPro p{
	padding-left: 3%;
	float: left;
	color: #fff;
	text-align: center;
	font-size: 2rem;
	line-height: 120%;
	
}

.icoPro p span{
	font-size: 1.2rem;
	
}
.hotBox{
	width: 100%;
	margin-bottom: 5%;
}
.hotPro{
	width: 100%;
	
}
.hotPro ul li{
	overflow: hidden;
}
.hotPro ul{
	width: 33.3%;
	float: left;
}
.hotPro li{
	display: block;
	width: 98%;
	margin:1%;
	position: relative;
}
.hotPro li img{
	transition: width 0.5s;
	-moz-transition: width 0.5s;	
	-webkit-transition: width 0.5s;	
	-o-transition: width 0.5s;
	width: 100%;
	position: absolute;
	right: 50%;
	bottom: 50%;
	transform: translate(50%, 50%);
}
.hotPro li:hover img{
	width: 105%;
}
.hotPro li:hover{
  	box-shadow: 0px 0px 30.72px rgba(78, 82, 96, 0.8);
  	position: relative;
  	z-index: 6;
}
.hotPro1{
	height: 238px;
}
.hotPro2{
	height: 170px;
}
.hotPro3{
	height: 275px;
}
.hotTitle{
	font-size: 4rem;
	color: #d7aefd;
	font-family: "黑体";
	font-weight: bold;
	margin-top: 4%;
	margin-left: 4%;
}
.hotTitle p{
	font-size: 2rem;
	font-weight: normal;
}
.classIfyBg{
	background: #e6ebf0;
	/*padding-bottom: 10%;*/
	padding-bottom: 1px;
}
.DrinksTitle{
	width: 23%;
	background: #82b7d7;
	font-size: 2.8rem;
	line-height: 120%;
	color: #fff;
	border-top-right-radius:10px ;
	overflow: hidden;
	box-shadow:0px 0px 20px rgba(78, 82, 96, 0.25); 
}

.DrinksTitle p{
	padding: 5% 16%;
}
.Drinks .am-u-sm-3{
	padding: 0;
}
.Drinks .DrinksPro{
	position: relative;
	width: 100%;
	/*padding: 6% 0;*/
	background: #f3cd8e;
	/*padding-top: 20%;*/
}
.Drinks .DrinksPro:hover{
	z-index: 4;
	box-shadow: 0px 0px 25px rgba(78, 82, 96, 0.25) ;
}
.Drinks .am-u-sm-3 img{
	display:block;
	margin: 0  auto;
}
.Drinks .Price{
	font-size: 1.6rem;
	color: #999999;
	text-align: center;
	line-height: 64px;
	margin-top: -64px;
}
.DrinksShow{
	padding-top: 20%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(255,255,255,0.7);
	display: none;
}
.classifyProName{
	width: 70%;
	margin: 0 auto;
	text-align: center;
	font-size: 1.8rem;
	color: #5d5c5a;
	line-height: 200%;
}
.classIfyBg .maxCentr{
	padding-top: 10%;
}
.DrinksShow button{
	display: block;
	width: 80%;
	margin: 0 auto;
	color: white;
	background: #4982a3;
	border: none;
	border-radius: 5px;
	line-height: 300%;
	margin-top: 10%;
	font-size: 1.8rem;
}
.DrinksShow .Price{
	color: #222222;
	font-size:2rem;
	line-height:300%;
	margin-top: 0;
}
.Drinks{
	/*margin-bottom: 18%;*/
	margin-bottom: 9%;
	position: relative;
}
.ToShowBox{
	padding-bottom: 8%;
}
.ToShowTitle p{
	font-size: 4rem;
	font-family: "黑体";
	font-weight: bold;
	margin-top: 4%;
	margin-left: 4%;
	line-height: 100%;
	color: #e37fbd;
}
.ToShowTitle span{
	color: #fdb3d4;
	font-size: 1.5rem;
	font-weight: normal;
}
.ToShow{
	width: 100%;
}
.ToShowPro{
	width: 19%;
	margin: 0 0.5%;
	box-shadow: 0px 0px 25px rgba(78, 82, 96, 0.25) ;
	float: left;
}
.ToShowPro:hover{
	 background: #fdb3d4;
}
.ToShowPro:hover p{
	 background: #fdb3d4;
	 color: #fff;
}
.ToShowPro img{
	width: 100%;
}
.ToShowPro p{
	
	font-size: 1.2rem;
	line-height: 180%;
	color: #666;
	padding:1% 10% ;
}
.ButBannerBg{
	background: #ebebeb;
	padding: 5% 0;
	
}
.ButBanner{
	width: 100%;
}
.ButBannerPro{
	width: 25%
}
.ButBannerPro img{
	width: 70%;
	display: block;
	margin:  0 auto;
}
.ButBannerPro p{
	font-size: 1rem;
	margin-top: 10%;
	color: #999;
	text-align: center;
	line-height: 150%;
}
.ButBannerBtn{
	 margin-bottom: 7%;
}
.ButBannerBtn div{
	background: #faa9d4;
	line-height: 200%;
	font-size: 2.4rem;
	border-radius: 10px;
	border: none;
	padding: 0 2%;
	color: #fff;
	display: block;
	margin:  0 auto;
	width: 235px;
}
.mail_box{
	padding: 5% 0 8% 0;
}
.mail_pro{
	width: 50%;
	float: left;
}
.mail_pro img{
	display: block;
	background: none;
}
.mail_but{
	 border-radius: 8px;
	 overflow: hidden;
	 background:#fff;
	 }
.mail_but button{
	background: #4982a3;
	border: none;
	 border-radius: 0.8rem;
	 color: #fff;
	 border-radius: 8px !important;
}
.mail_but button:hover{
	background: #e376b0;
	color: white;
}
.mail_box input{
	border: none;
	background: white;
}
.mail_pro li img{
	border: none;
}
.mail_but input{
	border-radius: 8px;
	overflow: hidden;
}

.bottonBg{
	background: #e376af;
	padding-top: 2%;
	padding-bottom: 1%;
}

.bottonBg li{
	color: #fff;
	font-size: 1.6rem;
	line-height: 3rem;
}
.bottonBg ul li:first-child{
	font-size: 2rem;
	font-weight: bold;
	line-height: 3.5rem;
}
.bottonBg .bot_nav{
	padding-left: 1rem;
}
.bottonBg ul li span{
	display:block;
	font-size: 3rem;
	font-weight: bold;
	margin-top: 2%;
}
.mailBg{
	background: #82b7d7;
}
.secondBanner{
	width: 80%;
	margin: 0 auto;
	position: absolute;
	top: 25%;
	left: 10%;
}
.secondBanner .am-slider{
	background: none;
	box-sizing: initial;
}
.secondBanner .am-slider ul li{
	}
.secondBanner .am-slider .am-direction-nav{
	display: none;
}
.secondBannerPro{
	background: #fff;
	 width:220px ;
	 margin: 0 auto;
 	 box-shadow: 0px 0px 7.7px 2.3px rgba(55, 55, 55, 0.45);
 	 margin-bottom: 3%;
}
.secondBannerPro .title{
	margin-top: 5%;
}
.secondBannerPro .title, .searchBut{
	padding: 0 3%;
}
.secondBannerPro .title p{
	float: left;
	width: 80%;
	color: #666666;
	font-size: 1.3rem;
}
.secondBannerPro .title img{
	display: block;
	float: right;
	width: 10%;
}
.searchBut{
	color: #f14067;
	font-size: 1.8rem;
}
.searchBut p{
	color: #f14067;
	font-size: 1.8rem;
	float: left;
}
.searchBut button{
	color: #f14067;
	font-size: 1.3rem;
	border-radius: 3px;
	float: right;
	background: none;
	border: 1px solid #f14067;
	padding: 0 5%;
	line-height: 200%;
}
.bannerShow {
	
}
.bannerShow .am-slider .am-control-nav{
	width: 30px;
	position: absolute;
	right: 30px;
	top: 30%;
}
.bannerShow .am-slider .am-control-nav li{
	display: block;
	padding: 15px 0;
	width: 10px;
	padding-left: 20px;
}
.bannerShow .am-slider .am-control-nav li a{
	display: block;
	width: 12px;
	height: 12px;
	background: #fff;
}
.bannerShow .am-slider .am-control-nav li .am-active{
	display: block;
	width: 16px;
	height: 16px;
	margin-left: -2px;
}
.secondBanner .am-control-nav{
	text-align: right;
	position: absolute;
	right: 10px;
	top: -100px;
	z-index: 0;
}
.secondBanner .am-viewport{
	z-index: 1;
	width: 1000px;
}
.secondBanner .am-control-nav li a{
	display: block;
	width: 14px;
	height: 14px;
	background: #fff;
}
.secondBanner .am-control-nav li a:hover{
	background: #fff;
}
.secondBanner .am-control-nav li .am-active{
	width: 18px;
	height: 18px;
	background: #fff !important;
	margin-top:-2px !important;
}
.allProBg{
	background: #4a82a3;
}
.allPro{
	height: 90px;
	padding-top: 20px;
}
.allClassIfy .am-dropdown button{
	background: #1e506e;
	border-radius: 25px;
	border: 0;
	font-size:2rem ;
	line-height: 50px;
	height: 50px;
	padding: 0;
	padding: 0 10%;
	text-align: center;	
}
.allClassIfy .am-dropdown button img{
	height: 40px;
}
.allClassIfy .am-dropdown.am-active .am-btn-primary.am-dropdown-toggle{
	background: #1e506e;
}
.am-icon-caret-down:before{
	display: none;
}
.allClassIfy .am-dropdown ul {
	background: #4a82a3;
	border: 0;
}
.allClassIfy .am-dropdown-content:after{
	background: #fdb3d3;
	border-color: #fdb3d3;
}
.allClassIfy .am-dropdown-header{
	font-size: 2rem;
	color: #FFFFFF;
	font-family: "黑体";
	font-weight: bold;
	
}
.allClassIfy .am-dropdown-content{
	width: 160%;
}
.allClassIfy .am-g {
	width: 100%;
	padding-left: 5%;
	
}
.allClassIfy .am-g div{
	/*width: 25%;*/
	float: left;
	border-bottom: 2px solid rgba(0,0,0,0);
}
.allClassIfy .am-g div:hover{
	border-bottom: 2px solid #666666;
}
.allClassIfy .am-g div a{
	display: block;
	color: #FFFFFF;
	text-align: center;
	line-height: 200%;
	height: 36px;
	margin: 0 auto;
	
}
.allClassIfy .am-g div:hover a{
	color: #666666;
}
.ProClassIfy{
	color: #FFFFFF;
	font-size: 2rem;
	border-right: 1px solid #FFFFFF;
	text-align: center;
	margin-top: 10px;
}
.ProClassIfy a{
	color: #FFFFFF;
}
.mailBg input{
	color: #999999;
}
.allClassIfy .am-dropdown-content .am-g{
	margin: 0;
}
.navPrompt{
	font-size: 2rem;
	color: #333333;
	margin-bottom: 0.5%;
}
.navPrompt a{
	color: #333333;
}
.classifyPro ol{
	padding: 0;
	margin-top: 0;
	padding-top: 5%;
	width: 100%;
}
.classifyPro li{
	float: left;
	font-size: 2rem;
	text-align: center;
	color: #FFF;
	border-bottom:3px solid rgba(0,0,0,0) ;
	line-height: 200%;
	padding: 0;
	margin: 2% 6%;
	width: 21%;
}
.topNav a:hover{
	text-decoration: none;
}
.classifyPro a{
	color: #FFFFFF;
	 display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 40px;
}
.classifyPro li:hover a{
	text-decoration: none;
	outline: none;
	color: #333333;
}
.secondBannerPro .title{
	background: none;
}
.secondBannerPro .title p{
	line-height: 120%;
	height: 16px;
}
.iocBg .icoPro p{
	margin-top: 10%;
}
.Drinks .am-u-sm-3{
	margin: 0;
}
.secondImg{
	display: block;
	width: 100%;
	height: 200px;
}
.DrinksPro img{
	display: block;
	width: 100%;
	height: 300px;
}
.allClassIfy .am-g div a{
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.allClassIfy .tuoNav a:hover{
	text-decoration: none;
}
.allClassIfy  .tuoNav{
	width:33%;
	float: left;
	text-align: center;

}
.topNav li{
	position: relative;
}
.logo{
	width: 150px;
}
.m-0{
	margin: 0 !important;
}
.py-1{
	padding-left: 10px;
	padding-right: 10px;
}
.px-1{
	padding-top: 5px;
	padding-bottom: 5px;
}
.border-0{
	border-width: 0 !important;
}
.border-1{
	border: 1px solid #EEEEEE !important;
}
.pointer{
	cursor: pointer;
}
