.personalLeft{
	width: 30%
}
.protraits img{
	display: block;
	width: 100%;
}
.protraits{
	width:200px;
	height: 200px;
	border: 3px solid #eaeaea;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto;
	background: #FFFFFF;
}
.protraitsBg p{
	color: white;
	text-align: center;
	font-size: 2.0rem;
	font-weight: bold;
}
.protraitsBg{
	margin-top: 8% ;
	width: 100%;
	padding-top: 80px;
	height: 420px;
	background: #4982a3;
  	box-shadow: 0px 0px 30.72px 1.28px rgba(153, 153, 153, 0.45);
  	border-radius: 5px;	
}
.personalList{
	background:#f1e6e6 ;
	margin-top: 5%;
	border-radius: 5px;
	margin-bottom: 50%;
	padding: 5% 0;
}
.personalList li{
	text-align: center;
	padding-left: 30%;
	border-left: 6px solid rgba(0,0,0,0);
}
.personalList img{
	margin-top: 25px;
	float: left;
	margin-right: 10px;
}
.personalList p{
	float: left;
	line-height: 88px;
	font-size: 2rem;
	color: #666666;
	font-weight: bold;
}
.personalShow p{
	color: #4982a3;
}
.personalList .personalShow{
	background: #FFFFFF;
	border-left-color: #4982a3;
  	box-shadow: 0px 0px 33.6px 1.4px rgba(153, 153, 153, 0.1);
}


.personalRight{
	margin-top: 2.5%;
	width: 70%;
	padding-left: 5%;
}
.information {
	background: #f1e6e6;
	width: 100% !important;
	border-radius:5px ;
	padding: 1% 0;
}
.information .text p{
	margin: 0;
	font-size: 1.8rem;
	color: #666666;
	line-height: 200%;
}
.information .text{
	width: 50%;
	padding: 0 5%;
}
.personalPro .Title{
	margin: 2% 0;
	border-radius: 5px;
	background: #4982a3;
	color: #FFFFFF;
	line-height: 54px;
}
.personalPro .Title .titleBut img{
	display: block;
	float: left;
	margin-top: 6px;
	padding-right: 5px;
}
.personalPro .Title .titleBut p{
	float: left;
	width: 90px;
	padding-right: 2%;
	background: #FFFFFF;
	color: #4982a3;
	font-size: 1.2rem;
	line-height: 28px;
	font-weight: bold;
	border-radius: 5px;
	margin-top: 12%;
	margin-right: 20px;
}
.personalPro .Title img{
	margin-top: 10px;margin-left: 15px;
}
.personalPro .Title p{
	padding-left: 2%;
	margin: 0;
	width: 100%;
	font-size: 2rem;
	width: 200px;
}
.lockPro{
	width: 100%;
}
.lockPro img{
	width: 100%;
}
.lockPro li{
	float: left;
	width: 19%;
	margin: 0 0.5%;
	border: 1px solid #f5538d;
	height: 150px;
}
/*浏览过的商品*/
.personalRight .myOder li span{
	color: red;
	margin-left: 1%;
}
.personalRight .myOder li{
	float: left;
	width: 25%;
	text-align: center;
	font-size: 1.6rem;
	color: #666666;
	line-height: 45px;
	border-right: 1px solid #4982a3;
}
.personalRight .myOder{
	border: 1px solid #4982a3;
	border-radius: 5px;
	padding:1.5% 0;
	margin-top: 2%;
}
.personalLove{
	 margin-bottom: 3%;
}
.personalLove img{
	width: 100%;
}
.personalLove .Text .clearfloat .shopBut{
	font-size: 1.4rem;
	color: #f14067;
	border: 1px solid #f14067;
	border-radius: 3px;
	padding: 0 2%;
	margin-top: 2%;
}
.personalLove .Text .clearfloat{
	margin-top: 2%;
}
.personalLove .Text .clearfloat p{
	font-size: 1.8rem;
	color: #f14067;
}
.personalLove .Text p{
	font-size: 1.6rem;
	line-height: 180%;
	margin: 0;
}
.personalLove .Text{
	border:1px solid #4982a3;
	padding-top: 1%;
	border-top: 0;
	padding: 0 5%;
	color: #666666;
	padding-bottom: 1%;
}
.accountText li{
	margin-bottom: 2%;
}
.accountText input{
	width: 70%;
	color: #B4B4B4;
	font-size: 1.5rem;
	border: #0C7CB5;
	border:1px solid #DDDDDD;
	line-height: 40px;
}
.accountText p{
	line-height: 40px;
	width: 30%;
	text-align: right;
	padding-right: 3%;
	color: #666666;
	font-size: 1.8rem;
}
.account .accountHead{
	text-align: center;
	margin-bottom: 5%;
}
.account{
	width: 50%;
	margin: 0 auto;
	margin-top: 40%;
}
.accountBut{
	width: 50%;
	border-radius: 5px;
	margin: 0 auto;
	text-align: center;
	line-height: 46px ;
	color: #FFFFFF;
	background: #f14067;
	margin-top: 8%;
	border: 0;
}
.cipherText p{
	width: 100%;
	text-align: left;
	margin: 0;
	
}
.cipherText input{
	width: 100%;
	
}
.commentTitle{
	line-height: 53px;
	background: #eaeaea;
	padding-left: 3%;
	font-weight: bold;
}
.commentHead li{
	color: #666666;
	font-size: 1.5rem;
	text-align: center;
}
.commentHead{
	background: #f2f2f2;
	margin-top: 1.5%;
}
.commentPro p{
	margin: 0;
}
.commentPro li{
	padding: 2% 0;
}
.commentPro .buyComment{
	color: #4982a3;
	font-size: 1.4rem; 
	display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
	margin-top: 1%;
}
.commentPro .myComment{
	margin-top: 1%;
	font-size: 1.4rem;
	color: #666666;
	 display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.commentPro .time{
	font-size: 1.5rem;
	color: #999999;
}
.commentPro li{
	border-bottom: 1px solid #eaeaea;
}
.personalProBox img{
	display: block;
	width: 80%;
	margin: 0 auto;
}
.personalProBox {
	width: 80%;
	margin: 0 auto;
	border:1px solid #eaeaea ;
}
.personalProText .totalPrice{
	color: #f14067;
	margin-top: 2%;
}
.personalProText{
	padding-top: 2%;
}
.personalProText p{
	text-align: center;
	font-size: 1.6rem;
	color: #333333;
	font-weight: bold;
}
.commentBut{
	width:90px;
	color: #999;
	font-size: 1.4rem;
	line-height: 36px;
	text-align: center;
	border-radius: 5px;
	margin-top: 38%;
}
.oderNav li span{
	color: #f1405c;
}
.oderNav .oderNavShow{
	border: 1px solid #4982a3;
	border-bottom-color: white;
}
.oderNav li{
	float: left;
	width: 16.6%;
	text-align: center;
	color: #666666;
	line-height: 40px;
	border: 1px solid white;
	border-bottom-color: #4982a3;
	font-weight: bold;
}
.oderPro_2_title{
	background: #EAEAEA;
	margin-top: 2%;
}
.oderPro_2_title div{
	float: left;
	width: 14%;
	font-size: 1.5rem;
	color: #666666;
	font-weight: bold;
	line-height: 52px;
	text-align: center;
}
.oderPro_2_box{
	border: 1px solid #EAEAEA;
	margin-top: 2%;
	padding-top: 2%;
}
.oderPro_2{
	float: left;
	width: 13%;
	text-align: center;
	padding-top: 4% ;
	color: #666666;
	font-size: 1.5rem;
}
.oderPro_2_img img{
	display: block;
	width: 60%;
	margin: 0 auto;
	border:1px solid #EAEAEA;
}
.oderPro_2_text {
	width: 40%;
	text-align: left;
}
.oderPro_2_text span{
	color: #666666;
	font-size: 1.5rem;
	margin-top: 35%;
	display: block;
}
.oderPro_2_text p{
	margin: 0;
	color: #333333;
	font-size: 1.5rem;
}
.oderPro_2_img{
	width: 60%;
}
.oderPro_2_but .but2{
	color: #333333;
	line-height: 35px;
}
.oderPro_2_but .but1{
	width: 85%;
	line-height: 30px;
	color: white;
	background: #f14067;
	margin: 0 auto;
	border-radius: 5px;
	margin-top: -5px;
}
.oderPro_2_but div{
	font-size: 1.4rem;
}
.oderPro_2_time {
	background: #EAEAEA;
	margin-top: 2%;
}
.oderPro_2_time p{
	width: 40%;
	margin: 0;
	font-size: 1.2rem;
	color: #333333;
	background: #EAEAEA;
	line-height: 28px;
	padding: 0 2%;
}
.addressTitle{
	padding: 0 2%;
	background: #EAEAEA;
}
.addressTitle .but1{
	line-height: 34px;
	color: white;
	background: #4982a3;
	padding: 0 3%;
	margin-top: 1.1%;
	border-radius: 3px;
	font-weight: bold;
}
.addressTitle p{
	color: #333333;
	margin: 0;
	line-height: 52px;
	font-weight: bold;
}
.personalPro_address_pro ul{
	background: #EAEAEA;
	margin-top: 2%;
}
.personalPro_address_pro .am-u-sm-3{
	margin: 0;
}
.personalPro_address_pro li{
	padding: 0;
	color: #666666;
	font-size: 1.5rem;
	text-align: center;
	font-weight: bold;
	line-height: 200%;
}
.address_pro .address_pro_edit_bnt:hover{
	text-decoration: none;
}
.address_pro .address_pro_edit_bnt{
	font-size: 16px;
	color: #666666;
}
.address_pro{
	padding: 2% 0 2% 0;
	border-bottom: 1px solid #EAEAEA;
}
.address_pro .but1 p{
	font-size: 1.5rem;
	margin: 0;
	font-weight: bold;
}
.address_pro div{
	padding: 0;
	text-align: center;
	font-size: 1.5rem;
	padding: 0 2%;
	color: #666666;
}
.newAddress_text input{
	padding-left: 2%;
	width: 80%;
}
.newAddress {
	padding: 0 1%;
	margin-top: 8%;
}
.personalPro_newAddress{
	margin-bottom: 40%;
}
.newAddress .but1{
	width: 195px;
	margin: 0 auto;
	line-height: 52px;
	color: #FFFFFF;
	background: #f14067;
	border-radius: 5px;
	text-align: center;
}
.newAddress .clearfloat div{
	margin-bottom: 4%;
}
.newAddress p{
	font-size: 1.5rem;
	line-height: 40px;
	color: #666666;
	margin: 0;
}
.newAddress input{
	font-size: 1.5rem;
	line-height: 38px;
	color: #B4B4B4;
	border: 0;
	border:1px solid #EAEAEA;
}
.newAddress_text p{
	padding-right: 4%;
	width: 20%;
	text-align: right;
}
.newAddress_text{
	width: 50%;
}
.newAddress_text2 input{
	width: 90%;
}
.newAddress_text2 p{
	padding-right: 2%;
	width: 10%;
}
.newAddress_text2{
	width: 100%;
}
.newAddress_text3 p{
	width: 15%;
}
.newAddress_text3 input{
	width: 85%;
}
.newAddress_text3{
	width: 70%;
}
.newAddress_text4 div{
	width: 80%;
}
.newAddress_text4{
	width: 30%;
}
.newAddress .default{
	width: 14px;
	height: 14px;
	border-radius: 50%;
	border: 1px solid #EAEAEA;
	margin-top: 1.8%;
	margin-right: 1%;
}
.newAddress .default1{
	background: #f14067;
}
.myOderDetailImg div img{
	width: 100%;
}
.myOderDetailImg div{
	width: 100px;
	height: 100px;
	border: 1px solid #eeeeee;

}
.myOderDetailImg{
	padding: 0;
	margin: 0 !important;
	padding-left: 10px;
	
}
.myOderDetailText{
	color: #666666;
	font-size: 14px;
}
.receivingTitle{
	margin-top: 20px;
	line-height: 43px;
}
.receivingTitle span{
	color: #e376af;
	font-size: 14px;
}
.receivingAddress p{
	padding-left: 10px;
	color: #666666;
}
.receivingInfo p{
	background: #eaeaea;
	padding-top: 10px;
	padding-bottom: 10px;
}
.myOderTop p{
	padding: 0;
}
.payment{
	margin-top: 20px;
}
.payment button:hover{
	background-color: #4982a3;
}
.payment button{
	border-radius: 5px;
	background-color: #4982a3;
	float: right ;
	border: 0 ;
}
.myOderTop{
	margin-top: 20px !important;
}
.text-red{
	color: red !important;
}
.commentPro .am-u-sm-3,.commentHead .am-u-sm-3{
	margin-top: 0;
}
