*{ list-style: none;
	 padding: 0;
 	margin: 0;
	font-family: "微软雅黑";
	font-size: 1.8rem;
	}

.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearfloat{zoom:1}
.float_left{
	float: left;
}
.float_right{
	float: right;
}
.maxCentr{
	max-width: 1200px;
	margin: 0 auto;
	min-width: 960px;
}

.topBg{
	background: #4982a3;
	width: 100%;
	height: 80px;
}
.topBox{
	padding-left: 3%;
}

.topLanguage{
	line-height: 80px;
}

.topLanguage p{
	font-size: 1.8rem;
	line-height: 150%;
	color:#fff;
	margin-left: 1%;
}

.topLanguage img{
	margin-top: 20px;
}

.userBg{
	background: #f1e6e6;
}

.indexLogo{
	margin: 10% 0 6% 0 ;
	width: 52%;
	position: relative;
}
.indexLogo img{
	width: 100%;
}

.user{
	background: #fff;
	border-radius: 5px;
	width: 36%;
	margin: 12% 6% 0% 6%;
	padding-top:2% ;
}

.userTop{
	width: 75%;
	margin: 0 auto;
	border-bottom: 1px solid #4982a3;
	margin-bottom: 8%;
}

.userTop div{
	font-size: 2rem;
	color: #4982a3;
	line-height: 260%;
	width: 100%;
	text-align: center;
	border-bottom: 3px solid rgba(0,0,0,0);
}
.signIn{
}
.sigInBot{
	border: 0 !important;
}
.sigInBot div{
	 color: #999;
	 font-size: 1.5rem;
	 margin-top: 2%;
	 width: auto !important;
}

.register,.signIn{
	width: 75%;
	margin: 0 auto;
}
.register form,.signIn form{
	width: 100%;
}
.register .clearfloat,.signIn .clearfloat{
	border: 1px solid #e5e5e5;
}
.register .clearfloat div,.signIn .clearfloat div{
	width: 15%;
}
.register .clearfloat img,.signIn .clearfloat img{ 
	display: block;
	margin: 0 auto;
}

.register input{
	line-height: 200%;
}
.register .clearfloat input,.signIn .clearfloat input{
	width: 85%;
	margin-top: 8px;
	border: none;
}
.register .am-btn,.signIn .am-btn{
	width: 100%;
	background: #4982a3;
	border-radius:5px;
	font-size: 2rem;
	line-height: 120%;
	border: 0;
	 margin: 1% 0;
}
.register .am-checkbox-inline{
	 color: #999;
}
.register .toggleSingIn{
	 color: #999;
	 font-size: 1.5rem;
	 margin-top: 5%;
}

.bottonBg{
	background: #4982a3;
	padding-top: 2%;
	padding-bottom: 1%;
}

.bottonBg li{
	color: #fff;
	font-size: 1.6rem;
	line-height: 3rem;
}
.bottonBg ul li:first-child{
	font-size: 2rem;
	font-weight: bold;
	line-height: 3.5rem;
}
.bottonBg .bot_nav{
	padding-left: 1rem;
}
.bottonBg ul li span{
	display:block;
	font-size: 3rem;
	font-weight: bold;
	margin-top: 2%;
}
.indexLogo .businessLogo{
	position: absolute;
	width: 300px;
	top: 160px;
	left: 160px;
}
.initialCipherTop{
	width: 80%;
	border-bottom: 1px solid #fdb3d3;
	margin: 0 auto;
}
.initialCipherTop div{
	font-size: 2rem;
	color: #fdb3d3;
	padding-left:20px ;
	line-height: 300%;
	
}
.initialCipherInput input{
	font-size: 16px ;
	color: #999;
}
.initialCipherInput{
	padding-top: 40px;
}
.initialCipherBnt{
	font-size: 19px !important;
}
